{
   "settings": {
    "ecmascript": 5
  },
  "ecmaFeatures": {
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "semi": 1,
    "strict": ["error", "global"],
    "indent": [2, 2],
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "FunctionExpression": true
      }
    }],
    "key-spacing": [0, {"align": "value"}],
    "no-underscore-dangle": 0
  }
}
