body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  }

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
}

#logo-text {
  font-family: 'Elsie Swash Caps', cursive;
  text-transform: none;
  display: inline-block;
  font-size: 2.25em;
}

img {
  max-width: 100%;
  width: 75px;
  /*float: middle;*/
}

main {
  display:-webkit-inline-box;
}
