body {
  font-family: Open Sans Light;
  font-size: 75%;
  }

h1 {
  font-family: Elsie Swash Caps;
  font-size: 20px;
  float: left;
  margin-left: 10px;
}

h2 {
  text-align: center;
}

p {
  margin-left: 10px;
  color: gray;
  border: solid;
  border-width: thin;
  width: 15em;
}

section {
  text-align: center;
  /*clear: both;*/
}

img {
  max-width: 100%;
  width: 50px;
  float: left;
  margin-left: 10px;
}

input {
  width: 90%;

}
