.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#logo-container {
  display: inline-block;
}

#logo-icon {
  padding: 25px 0 0 25px;
}

#main-nav-container {
  display: inline-block;
  width: 100%;
}

footer {
  text-align: center;
  margin: 40px;
}

.dropdown-content li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  padding-right: 15px;
}

#map-container {
  display: inline-block;
  width: 100%;
}

#brewery-filter {
  width: 20%;
}

ul#filter {
  list-style-type: none;
  padding-left: 25px;
}

label {
  padding-left: 10px;
}

input[type=checkbox] {
  width: 30px;
  height: 20px;
}

#map {
  height: 600px;
  width: auto;
  max-width: 100%;
  margin-top: 20px;
}

section.breweries {
  display: inline-block;
  margin-top: 50px;
  width: 60%;
}

article {
  margin-left: 100px;
}

#beer-filter {
  padding: 25px 0px 0px 20px;
}

.team-member {
  height: 300px;
  width: auto;;
  text-align: center;
  font-family: Open Sans Light;
  margin-top: 10px;
}

.team-member p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
