a, a:link, a:active {
  text-decoration: none;
  color: pink;
}

a:hover, a:focus {
  color: orange;
}

a:visited {
  color: green;
}

/*@media only screen and (min-width: 640px) {
  body {
    font-size: 15px;
  }
  img {
    width: 100px;
  }
  .icon-menu {
    font-size: 25px;
  }
  .dropdown-content a {
    font-size: 20px;
  }
}*/
